[Unit]
Description=Wall-E Dart TCP Control Server
After=multi-user.target network.target
Before=walle.service

[Service]
Type=simple
WorkingDirectory=/home/admin/wall-e/wall-e_tcp_server
ExecStart=/home/admin/wall-e/wall-e_tcp_server/wall_e_tcp_server
KillSignal=SIGINT
Restart=on-failure
Environment=XDG_RUNTIME_DIR=/run/user/1000
User=admin
Group=admin

[Install]
WantedBy=multi-user.target